<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Image Captioning</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script aysnc defer src="{{ url_for('static',filename='css/script.js') }}"></script>
    <style type="text/css">
    body{
        font-family: 'Montserrat', sans-serif;
    /* background-color : #1261A0; */

        background-image: url("{{ url_for('static', filename='images/6.jpg') }}");
        background-repeat: no-repeat;
        background-size: cover;
        border-radius: 30px;
    }
   </style>
</head>
<body>

    <div class="outer">
            <h1 style="text-align: center;">IMAGE CAPTIONING</h1>
            <br>
           <!--  <hr width="20%" color="red" align="left"> -->
    </div> 
    <form action="{{ url_for('upload')}}" class= "container" method="post" enctype="multipart/form-data">
        <div id="box" style="max-width:375px;margin:auto;">

            <label style="margin-left:40px;margin-right: auto;" for="fileUpload">UPLOAD IMAGE HERE</label><br>
            <input type="file" id="fileUpload" name ="myImage">
        <button style="background-color:darkcyan;" id="upload">upload</button>

        </div> 
        </form>
        
    <center> 

        <div class="lower">
           <center><img src="{{ user_image }}" alt="" srcset="" id="waste"></center>
           {% if status %}
           <h3> {{status}} </h3>
           {% endif %}
    </div>

    </center>
 
</body>
</html>
  